<%- include ('_layouts/header') -%>
  <center>




    <div>
      <i class="fa fa-map-marker" style="font-size: x-large;"></i>
      <p style="font-size: medium;">Hostel J
        NIT Jamshedpur, <br> Adityapur,
        Jamshedpur , 831014</p>
    </div>
    <br>
    <div>
      <i style="font-size:x-large;" class="fa fa-phone"></i>
      <p style="font-size: medium;">6205712554</p>
    </div>
    <br>
    <div>
      <i style="font-size:x-large;" class="fa fa-envelope"></i>
      <p style="font-size: medium;"><a href="mailto:adityakumar09092021@gmail.com ">adityakumar09092021@gmail.com </a>
      </p>
      <br>



    </div>


  </center>
  <%- include ('_layouts/footer') -%>